@model MiInventario2.Models.GrupoEditViewModel
@{
  ViewBag.Title = Model.Descripcion;
}

<h2>@Model.Descripcion: @Model.Total (@Model.TotalCapsulas)</h2>

@using (Html.BeginForm("Edit", "Grupos", FormMethod.Post, new { @class = "form-horizontal" })) {
  @Html.HiddenFor(model => model.IdGrupo)

  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <table class="table table-condensed table-striped">
      <colgroup>
        <col class="col-lg-6 col-md-6 col-sm-6 col-xs-6" />
        <col class="col-lg-2 col-md-2 col-sm-2 col-xs-2" />
        <col class="col-lg-2 col-md-2 col-sm-2 col-xs-2" />
        <col class="col-lg-2 col-md-2 col-sm-2 col-xs-2" />
      </colgroup>
      <thead>
        <tr>
          <th>Item</th>
          <th>Qty</th>
          <th>Caps</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        @for (int i = 0; i < Model.Items.Count; i++) {
          var item = Model.Items[i];
          <tr>
            <td class="nombre">
              @if (item.MostrarNivel) {
                <span class="@string.Format("nivel{0}", item.Nivel)">@string.Format("L{0}", item.Nivel)</span>
              }
              <span class="@string.Format("rareza{0}", item.IdRareza)">@item.Descripcion</span>
            </td>
            <td class="cantidadItem">
              @Html.HiddenFor(model => Model.Items[i].IdItem)
              @Html.TextBoxFor(model => Model.Items[i].Cantidad, new { @class = "form-control text-right" })
            </td>
            <td class="cantidadCapsula">
              (@item.CantidadCapsulas)
            </td>
            @{
          int total = item.CantidadCapsulas + item.Cantidad;
          <td class="cantidadTotal">
            @total
          </td>
            }
          </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="clearfix"></div>
  <p>
    <input type="submit" value="Save" class="btn btn-primary" />
  </p>
}
<div class="pie">
  <p class="bottomLinks">
    @Html.ActionLink("Back to Inventory", "Index") | @Html.ActionLink("Back to View", "List", new { @id = Model.IdGrupo })
  </p>
</div>