@model IEnumerable<MiInventario2.Models.GrupoViewModel>
@{
  ViewBag.Title = "Inventario";
}

<h2>Inventory</h2>
<div class="col-lg-5 col-md-6 col-sm-7 col-xs-12">
  <table class="table table-condensed table-striped">
    <colgroup>
      <col class="col-lg-6 col-md-6 col-sm-6 col-xs-6" />
      <col class="col-lg-2 col-md-2 col-sm-2 col-xs-2" />
      <col class="col-lg-2 col-md-2 col-sm-2 col-xs-2" />
      <col class="col-lg-2 col-md-2 col-sm-2 col-xs-2" />
    </colgroup>
    <thead>
      <tr>
        <th>Item</th>
        <th>Total</th>
        <th>Caps</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @foreach (var grupo in Model) {
        <tr>
          <td>@Html.ActionLink(grupo.Descripcion, "List", new { @id = grupo.IdGrupo })</td>
          <td class="cantidadItem">
            @grupo.Total
          </td>
          <td class="cantidadCapsula">
            (@grupo.TotalCapsulas)
          </td>
          <td>@Html.ActionLink("Edit", "Edit", new { @id = grupo.IdGrupo })</td>
        </tr>
      }
      <tr>
        <td>@Html.ActionLink("All", "ViewAll")</td>
        <td class="cantidadItem">
          @Model.Sum(p => p.Total + p.TotalCapsulas)
        </td>
        <td class="cantidadCapsula">
          (@Model.Sum(p => p.TotalCapsulas))
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="clearfix"></div>