@model MiInventario2.Models.GrupoViewModel
@{
  ViewBag.Title = Model.Descripcion;
}

<h2>@Model.Descripcion: @Model.Total (@Model.TotalCapsulas)</h2>
@foreach (var tipo in Model.Tipos) {
  @Html.Partial("_ShowItems", tipo.Items)
}
<div class="clearfix"></div>
<div>
  <p class="bottomLinks">
    @Html.ActionLink("Back to Inventory", "Index") | @Html.ActionLink("Edit", "Edit", new { @id = Model.IdGrupo })
  </p>
</div>