@model MiInventario.Models.Interests.ByDateViewModel
@{
    ViewBag.Title = Model.Title;
    string dateFormat = Resources.General.ResourceManager.GetString(string.Format("InterestsByDate_DateFormat_{0}", Model.Grouping.ToString()));
}

<h2>@ViewBag.Title</h2>
<div class="table-responsive">
    <table class="table table-condensed table-striped table-hover" style="font-size:0.9em">
        <thead>
            <tr>
                <th class="corner"></th>
                <th>Caps</th>
                <th>Qty</th>
                <th>Avg</th>
                @foreach (var idC in Model.Capsulas)
                {
                    <th>@idC</th>
                }
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td class="fecha">Total</td>
                <td class="cantidadTotal">@Model.TotalCapsules</td>
                <td class="cantidadTotal">@Model.TotalItems</td>
                <td class="cantidadTotal"></td>
                @foreach (var capsula in Model.Totales)
                {
                    <td class="text-nowrap">
                        @foreach (var elemento in capsula.Items)
                        {
                            <div><span>@elemento.Quantity</span>@Html.Partial("_ItemDescription", elemento)</div>
                        }
                    </td>
                }
            </tr>
        </tfoot>
        <tbody>
            @foreach (var info in Model.DateInfo)
            {
                <tr>
                    <td class="fecha text-nowrap">@info.Fecha.ToString(dateFormat)</td>
                    <td class="cantidadTotal">@info.TotalCapsules</td>
                    <td class="cantidadTotal">@info.TotalItems</td>
                    <td class="cantidadTotal">@info.Average.ToString("N2")</td>
                    @foreach (var idC in Model.Capsulas)
                    {
                        var capsula = Model.Filas.SingleOrDefault(p => p.Fecha == info.Fecha && p.IdCapsula == idC);
                        if (capsula == null)
                        {
                            <td></td>
                            continue;
                        }

                        <td class="text-nowrap">
                            @foreach (var total in capsula.Items)
                            {
                                <div><span>@total.Quantity</span>@Html.Partial("_ItemDescription", total)</div>
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
<p>
    @Html.ActionLink("Back to Capsules", "Index")
</p>
