@model MiInventario.Models.CapsulesInterestsChartsViewModel
@{
    ViewBag.Title = "Interests Charts";
}

<h2>Interests Charts <img id="imgLoading" src='@Url.Content("~/images/loading.gif")' style="vertical-align:baseline;height: 20px;display:none" /></h2>
<div class="form-horizontal">
    <div class="form-group">
        <span class="col-lg-2 control-label">Grouping</span>
        <div class="col-lg-10">
            @Html.DropDownListFor(model => model.Grouping, Enum.GetValues(typeof(MiInventario.Code.DateGrouping)).Cast<MiInventario.Code.DateGrouping>().Select(x => new SelectListItem { Text = x.ToString(), Value = x.ToString() }), new { @class = "form-control input-sm" })
        </div>
    </div>
    <div class="form-group">
        <span class="col-lg-2 control-label">Item</span>
        <div class="col-lg-10">
            @Html.DropDownListFor(model => model.ItemID, new SelectList(Model.ViewableItems, "Key", "Value"), Resources.Groups.G_ALL, new { @class = "form-control input-sm" })
            <div class="checkbox">
                <label>
                    @if (Model.Accumulate)
                    {
                        <input type="checkbox" checked="checked" />
                    }
                    else
                    {
                        <input type="checkbox" />
                    }
                    Accumulate
                </label>
            </div>
        </div>
    </div>
</div>
<hr />
<h4 id="chartTitle"></h4>
<div>
    @*<img src="@Url.Action("InterestsDateItemChart", "Capsulas", new { grouping = Model.Grouping, itemID = Model.ItemID, accumulate = Model.Accumulate})" alt="Chart" />*@
    <img src="@Url.Action("InterestsChart", "Capsulas", new { grouping = Model.Grouping, itemID = Model.ItemID, accumulate = Model.Accumulate})" alt="Chart" />
</div>

@section scripts{
    <script type="text/javascript">
        //var pattern = "InterestsDateItemChart?grouping=XXX&itemID=YYY&accumulate=ZZZ";
        var pattern = "InterestsChart?grouping=XXX&itemID=YYY&accumulate=ZZZ";

        function updateTitulo() {
            var grp = $("select").first().val();
            var item = $("select").last().val();
            var acc = $(":checkbox").first().is(':checked');
            var urlTitulo = '@(Url.Action("_InterestsChartTitle", "Capsulas", null, Request.Url.Scheme))?grouping=' + grp + '&itemID=' + item + '&accumulative=' + (acc ? 'True' : 'False');
            if (urlTitulo.indexOf('localhost') < 0) {
                urlTitulo = urlTabla.replace(/\:[0-9]+/, '');
            }

            $.ajax({
                url: urlTitulo,
                dataType: "html",
                success: function (data) {
                    $("#chartTitle").html(data);
                }
            });
        }

        $(document).ready(function () {
            $(document).ajaxStart(function () {
                $("#imgLoading").show();
            });

            $(document).ajaxStop(function () {
                $("#imgLoading").hide();
            });

            $("select,:checkbox")
              .change(function () {
                  var grp = $("select").first().val();
                  var item = $("select").last().val();
                  var acc = $(":checkbox").first().is(':checked');
                  var newImg = pattern.replace('XXX', grp).replace('YYY', item).replace('ZZZ', acc);
                  $("img").attr('src', newImg);

                  updateTitulo();
              });

            updateTitulo();
        });

    </script>
}