@model MiInventario.Models.CapsulasManageViewModel
@{
  ViewBag.Title = "Log Interest";
}

<h2>Log Interest</h2>
@if (string.IsNullOrEmpty(Model.Descripcion)) {
  <h3>@Model.IdCapsula (@Model.Total)</h3>
}
else {
  <h3>@Model.Descripcion [@Model.IdCapsula] (@Model.Total)</h3>
}
@if (@Model.Total > 100) {
  <p class="avisoCapsulaErronea">
    La cantidad total de la cápsula supera lo permitido
  </p>
}

@using (Html.BeginForm("LogInterests", "Capsulas", FormMethod.Post, new { @class = "form-horizontal" })) {
  @Html.HiddenFor(model => model.IdCapsula)

  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <table class="table table-condensed table-striped">
      <colgroup>
        <col class="col-lg-7 col-md-7 col-sm-7 col-xs-7" />
        <col class="col-lg-2 col-md-2 col-sm-2 col-xs-2" />
        <col class="col-lg-3 col-md-3 col-sm-3 col-xs-3" />
      </colgroup>
      <thead>
        <tr>
          <th>Item</th>
          <th>Qty</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for (int i = 0; i < Model.Items.Count; i++) {
          var item = Model.Items[i];
          <tr>
            <td class="nombre">
                @Html.Partial("_ItemDescription", item)
            </td>
            <td class="cantidadItem">
              @Html.HiddenFor(model => Model.Items[i].CurrentItem.ItemID)
              @Html.TextBoxFor(model => Model.Items[i].Cantidad, new { @class = "form-control text-right input-sm" })
            </td>
            <td>
              @Html.ActionLink("Delete", "DeleteItem", new { @id = Model.IdCapsula, itemID = item.CurrentItem.ItemID })
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="clearfix"></div>
  <p>
    <input type="submit" value="Save" class="btn btn-primary" />
  </p>
}
<p>
  @Html.ActionLink("Back to Capsules", "Index") | @Html.ActionLink("Back to View Capsule", "List", new { @id = Model.IdCapsula })
</p>
