@model List<MiInventario2.Models.CapsulasViewModel>
@{
  ViewBag.Title = "Cápsulas";
}

<h2>Cápsulas (@Model.Count())</h2>
<div class="col-lg-6 col-md-7 col-sm-9 col-xs-12">
  <table class="table table-condensed table-striped">
    <colgroup>
      <col class="col-lg-2 col-md-2 col-sm-2 col-xs-2" />
      <col class="col-lg-5 col-md-5 col-sm-5 col-xs-5" />
      <col class="col-lg-1 col-md-1 col-sm-1 col-xs-1" />
      <col class="col-lg-4 col-md-4 col-sm-4 col-xs-4" />
    </colgroup>
    <thead>
      <tr>
        <th>ID</th>
        <th>Item</th>
        <th>Total</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @foreach (MiInventario2.Models.CapsulasViewModel item in Model.OrderBy(p => p.IdCapsula)) {
        <tr>
          @if (item.Spawnable) {
            <td class="nombreCapsula">@Html.ActionLink(item.IdCapsula, "List", new { @id = item.IdCapsula })</td>
          }
          else {
            <td class="nombreCapsulaNoSpawn">@Html.ActionLink(item.IdCapsula, "List", new { @id = item.IdCapsula })</td>
          }
          <td class=" text-nowrap">@item.ItemEncapsulado</td>
          <td class="cantidadTotal">
            @if (item.Total > 100) {
              <strong class="text-danger">@item.Total</strong>
            }
            else if (item.Total > 0) {
              @item.Total
            }
          </td>
          <td>
            <div class="btn-group btn-group-xs" style="min-width: 125px">
              @Html.ActionLink("Manage Items", "ManageItems", new { @id = item.IdCapsula }, new { @class = "btn btn-primary" })
              <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li>@Html.ActionLink("Add Item", "AddItem", new { @id = item.IdCapsula })</li>
                <li class="divider"></li>
                <li>@Html.ActionLink("Edit", "Edit", new { @id = item.IdCapsula })</li>
                <li>@Html.ActionLink("Delete", "Delete", new { @id = item.IdCapsula })</li>
                @if (item.Spawnable) {
                  <li class="divider"></li>
                  <li>@Html.ActionLink("Log Interests", "LogInterests", new { @id = item.IdCapsula })</li>
                  <li>@Html.ActionLink("Interests", "InterestsDayCapsule", new { @id = item.IdCapsula })</li>
                  <li>@Html.ActionLink("Interests Total", "InterestsTotalCapsule", new { @id = item.IdCapsula })</li>
                }
              </ul>
            </div>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
<div class="clearfix"></div>
<p>
  @Html.ActionLink("Add", "Add")
  | @Html.ActionLink("Last Spawn", "LastSpawn")
  | @Html.ActionLink("Interests Capsule by Day", "InterestsDayCapsule")
  | @Html.ActionLink("Interests Total", "InterestsTotalCapsule")
  | @Html.ActionLink("Interests Total by Item", "InterestsTotalByItem")
</p>
