@model MiInventario.Models.Inventory.DifferenceViewModel
@{
  ViewBag.Title = "Difference";
}

<h2>Difference</h2>
<h3>@MiInventario.Utils.GetUsernamFromEmail(Model.OriginUserId) - @MiInventario.Utils.GetUsernamFromEmail(@Model.DestinationUserId)</h3>
@foreach (MiInventario.Models.Inventory.GroupDifferenceViewModel group in Model.Groups) {
  foreach (MiInventario.Models.Inventory.TypeDifferenceViewModel type in group.Types) {
    @Html.Partial("_ShowItemsDifference", type.Items)
  }
}
<div class="clearfix"></div>
<div>
  <p class="bottomLinks">
    @Html.ActionLink("Back to Inventory", "Index")
  </p>
</div>
