@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="@Url.Content("~/favicon.ico")" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("My Inventory", "Index", "Grupos", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("All", "ViewAll", "Grupos")</li>
                    @if (MiInventario.Utils.GetUsernamFromEmail(User.Identity.GetUserName()) == "diegomenta" || MiInventario.Utils.GetUsernamFromEmail(User.Identity.GetUserName()) == "pceriani")
                    {
                        <li>@Html.ActionLink("Difference", "Difference", "Grupos")</li>
                    }
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Capsules <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("View", "Index", "Capsulas")</li>
                            <li>@Html.ActionLink("Add", "Add", "Capsulas")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Interests <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Last Spawn", "LastSpawn", "Capsulas")</li>
                            <li>@Html.ActionLink("Item Total", "InterestsTotalByItem", "Capsulas")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Item by Date", "InterestsDateTotal", "Capsulas")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Chart by Item-Date", "InterestsCharts", "Capsulas")</li>
                            <li>@Html.ActionLink("Chart by Rarity-Date", "InterestsPercentageRarity", "Capsulas")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Capsule by Day", "InterestsDateCapsule", "Capsulas", new { grouping = MiInventario.Code.DateGrouping.Day }, null)</li>
                            <li>@Html.ActionLink("Capsule by Week", "InterestsDateCapsule", "Capsulas", new { grouping = MiInventario.Code.DateGrouping.Week }, null)</li>
                            <li>@Html.ActionLink("Capsule by Month", "InterestsDateCapsule", "Capsulas", new { grouping = MiInventario.Code.DateGrouping.Month }, null)</li>
                            <li>@Html.ActionLink("Capsule by Year", "InterestsDateCapsule", "Capsulas", new { grouping = MiInventario.Code.DateGrouping.Year }, null)</li>
                            <li>@Html.ActionLink("Capsule Total", "InterestsTotalCapsule", "Capsulas")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <div id="dialog">
        <h4 id="headerDetail"><span id="detailLevel" class=""></span> <span id="detailName"></span></h4>
        <p id="detailRarity"></p>
        <p><img id="detailImage" src="" /></p>
        <p id="detailTypeDescription"></p>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/itemDetail")
    @RenderSection("scripts", required: false)

</body>
</html>
