@model MyInventory.Models.Interests.ByDateTotalViewModel
@{
    string dateFormat = Resources.General.ResourceManager.GetString(string.Format("InterestsByDate_DateFormat_{0}", Model.Grouping.ToString()));
    IEnumerable<string> items = Model.Totals.Select(p => p.CurrentItem.ItemId).ToArray();
}
<table class="table table-condensed table-striped table-hover" style="font-size:0.9em">
    <thead>
        <tr>
            <th class="corner rotate"><div><span></span></div></th>
            <th class="rotate"><div><span>Caps</span></div></th>
            <th class="rotate"><div><span>Qty</span></div></th>
            <th class="rotate"><div><span>Avg</span></div></th>
            @foreach (var item in Model.Totals)
            {
                <th class="text-nowrap rotate"><div><span>@Html.Partial("_ItemDescription", item.CurrentItem)</span></div></th>
            }
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td class="fecha">Total</td>
            <td class="totalQuantity"></td>
            <td class="totalQuantity">@Model.TotalItems</td>
            <td class="totalQuantity"></td>
            @foreach (var total in Model.Totals)
            {
                <td class="itemQuantity">@total.Quantity</td>
            }
        </tr>
    </tfoot>
    <tbody>
        @foreach (var info in Model.DateInfo)
        {
            <tr>
                <td class="fecha text-nowrap">@info.Date.ToString(dateFormat)</td>
                <td class="totalQuantity">@info.TotalCapsules</td>
                <td class="totalQuantity">@info.TotalItems</td>
                <td class="totalQuantity">@info.Average.ToString("N2")</td>
                @foreach (var itemId in items)
                {
                    var itemActual = info.Items.SingleOrDefault(p => p.Key == itemId);
                    if (itemActual.Key == null)
                    {
                        <td></td>
                        continue;
                    }
                    if (itemActual.Value == Model.Highests[itemId])
                    {
                        <td class="itemQuantity text-warning"><strong>@itemActual.Value</strong></td>
                    }
                    else
                    {
                        <td class="itemQuantity">@itemActual.Value</td>
                    }
                }
            </tr>
        }
    </tbody>
</table>
