@model MyInventory.Models.Interests.ChartsViewModel
@{
  ViewBag.Title = "Interests Charts";
}
<h2>Interests Charts <img id="imgLoading" src='@Url.Content("~/images/loading.gif")' style="vertical-align:baseline;height: 20px;display:none" /></h2>
<div class="form-horizontal">
  <div class="form-group">
    <span class="col-lg-2 control-label">Grouping</span>
    <div class="col-lg-10">
      @Html.DropDownListFor(model => model.Grouping, Enum.GetValues(typeof(MyInventory.Code.DateGrouping)).Cast<MyInventory.Code.DateGrouping>().Select(x => new SelectListItem { Text = x.ToString(), Value = x.ToString() }), new { @id = "grouping", @class = "form-control input-sm" })
    </div>
  </div>
  <div class="form-group">
    <span class="col-lg-2 control-label">Item</span>
    <div class="col-lg-10">
      @Html.DropDownListFor(model => model.ItemId, new SelectList(Model.ViewableItems, "Key", "Value", Model.ItemId), Resources.Groups.G_ALL, new { @id = "item", @class = "form-control input-sm" })
      <div class="checkbox">
        <label>
          <input type="checkbox" @(Model.Accumulative ? "checked=\"checked\"" : "") id="accumulative" />
          Accumulative
        </label>
      </div>
    </div>
  </div>
</div>
<hr />
<h4 id="chartTitle">@Html.Partial("_ChartTitle", Model.ChartTitle)</h4>
<div>
  <img src="@Url.Action("InterestsChart", "Interests", new { grouping = Model.Grouping, itemID = Model.ItemId, accumulative = Model.Accumulative })" alt="Chart" />
</div>
@section scripts{
  @Scripts.Render("~/bundlesview/interests-datechart")
}