@model MyInventory.Models.Interests.DateTotalViewModel
@{
  ViewBag.Title = "Interests of last " + Model.Periods + " " + Model.Grouping;
}
<h2>Interests Total <img id="imgLoading" src='@Url.Content("~/images/loading.gif")' style="vertical-align:baseline;height: 20px;display:none" /></h2>
<div class="form-horizontal">
  <div class="form-group">
    <div class="col-lg-offset-1 col-lg-11" style="margin-bottom:5px; color: #909090">(0 means all data)</div>
    <span class="col-lg-1 control-label">Last</span>
    <div class="col-lg-1">
      <input type="number" min="0" max="2000" step="1" class="form-control input-sm text-right" id="periods" value="@Model.Periods" />
    </div>
    <div class="col-lg-10">
      @Html.DropDownList("Grouping", Enum.GetValues(typeof(MyInventory.Code.DateGrouping)).Cast<MyInventory.Code.DateGrouping>().Select(x => new SelectListItem { Text = x.ToString(), Value = x.ToString(), Selected = (x == Model.Grouping) }), new { @id = "grouping", @class = "form-control input-sm", style = "float: left" })
    </div>
  </div>
</div>
<hr />
<div class="table-responsive" id="tableContainer">
</div>
<p>
  @Html.ActionLink("Capsules", "Index")
</p>
@section scripts{
  @Scripts.Render("~/bundlesview/interests-datetotal")
}