@model MyInventory.Models.Interests.LastSpawnViewModel
@{
  ViewBag.Title = "Last Spawn";
  MyInventory.Models.Capsules.ItemCapsuleViewModel first;
}
<h2>Last Spawn</h2>
@if (!Model.SpawnDate.HasValue) {
  <p>
    There is no spawn logged.
  </p>
}
else {
  <h3>@Model.SpawnDate.Value.ToString("yyyy-MM-dd HH:mm") - Items: @Model.TotalQuantity</h3>
  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 table-responsive">
    <table class="table table-condensed table-striped">
      <colgroup>
        <col class="col-lg-3 col-md-3 col-sm-3 col-xs-3" />
        <col class="col-lg-7 col-md-7 col-sm-7 col-xs-7" />
        <col class="col-lg-2 col-md-2 col-sm-2 col-xs-2" />
      </colgroup>
      <tfoot>
        <tr>
          <td class="totalsName" rowspan="@Model.Totals.Count()">Total</td>
          <td class="elements">
            @{
  first = Model.Totals.First();
            }
            @Html.Partial("_ItemDescription", first.CurrentItem)
          </td>
          <td class="itemQuantity">@first.Quantity</td>
        </tr>
        @if (Model.Totals.Count() > 1) {
          foreach (var elemento in Model.Totals) {
            if (first.CurrentItem.ItemId == elemento.CurrentItem.ItemId) {
              continue;
            }
            <tr>
              <td class="elements">
                @Html.Partial("_ItemDescription", elemento.CurrentItem)
              </td>
              <td class="itemQuantity">@elemento.Quantity</td>
            </tr>
          }
        }
      </tfoot>
      <tbody>
        @foreach (var capsule in Model.Capsules) {
          first = capsule.Items.First();
          <tr>
            <td class="capsuleName" rowspan="@capsule.ItemsQuantity">@capsule.Code</td>
            <td class="elements">
              @Html.Partial("_ItemDescription", first.CurrentItem)
            </td>
            <td class="itemQuantity">@first.Quantity</td>
          </tr>
          if (capsule.ItemsQuantity > 1) {
            foreach (var element in capsule.Items) {
              if (capsule.Items.First().CurrentItem.ItemId == element.CurrentItem.ItemId) {
                continue;
              }
              <tr>
                <td class="elements">
                  @Html.Partial("_ItemDescription", element.CurrentItem)
                </td>
                <td class="itemQuantity">@element.Quantity</td>
              </tr>
            }
          }
        }
      </tbody>
    </table>
  </div>
}
<div class="clearfix"></div>
<p>
  @Html.ActionLink("Capsules", "Index", "Capsules")
</p>
