@model MyInventory.Models.Interests.PercentageRarityViewModel
@{
  ViewBag.Title = "Interest per Rarity per " + Model.Grouping + " by " + (Model.Percentage ? "Percentage" : "Quantity");
}
<h2>@ViewBag.Title</h2>
<div class="form-horizontal">
  <div class="form-group">
    <span class="col-lg-2 control-label">Grouping</span>
    <div class="col-lg-10">
      @Html.DropDownList("Grouping", Enum.GetValues(typeof(MyInventory.Code.DateGrouping)).Cast<MyInventory.Code.DateGrouping>().Select(x => new SelectListItem { Text = x.ToString(), Value = x.ToString(), Selected = (x == Model.Grouping) }), new { @id = "grouping", @class = "form-control input-sm" })
      <div class="checkbox">
        <label>
          <input type="checkbox" @(Model.Percentage ? "checked=\"checked\"" : "") id="percentage" />
          Percentage
        </label>
      </div>
    </div>
  </div>
</div>
<hr />
<h4 id="chartTitle">Interest per Rarity per @Model.Grouping by @(Model.Percentage ? "Percentage" : "Quantity")</h4>
<div>
  <img src="@Url.Action("PercentageRarityChart", "Interests", new { grouping = Model.Grouping, percentage = Model.Percentage })" alt="@ViewBag.Title" />
</div>
@section scripts{
  <script type="text/javascript">

    function UpdateImage() {
      var grp = $("#grouping").val();
      var per = $("#percentage").is(':checked');
      var newImg = '/Interests/PercentageRarityChart?grouping=' + grp + '&percentage=' + per;
      $("img").attr('src', newImg);

      $("#chartTitle").text("Interest per Rarity per " + grp + " by " + (per ? "Percentage" : "Quantity"));
    }

    $(document).ready(function () {
      $('#grouping,#percentage').change(function () {
        UpdateImage();
        historyManager.setState();
      });

      historyManager.init({
        data: function () {
          return { grouping: $("#grouping").val(), percentage: $("#percentage").is(':checked') };
        },
        title: function (data) {
          return "Interest per Rarity per " + data.grouping + " by " + (data.percentage ? "Percentage" : "Quantity");
        },
        url: function (data) {
          return '/Interests/PercentageRarity?grouping=' + data.grouping + '&percentage=' + data.percentage;
        },
        change: function (data) {
          $("#grouping").val(data.grouping);
          $("#percentage").prop('checked', data.percentage);

          UpdateImage();
        }
      });
    });
  </script>
}