@model MiInventario.Models.Capsules.AddItemViewModel
@{
  ViewBag.Title = "Add Item";
}

<h2>@ViewBag.Title</h2>
@Html.Partial("_CapsuleHeader", Model)

@foreach (var item in ViewContext.ViewData.ModelState) {
  if (item.Value.Errors.Any()) {
        <div class="alert alert-dismissible alert-warning">
            <button type="button" class="close" data-dismiss="alert">×</button>
            @(string.Join("; ", item.Value.Errors.Select(x => x.ErrorMessage)))
        </div>
    }
}

@using (Html.BeginForm("AddItem", "Capsules", FormMethod.Post, new { @class = "form-horizontal" })) {
  <fieldset>
    @Html.HiddenFor(model => model.CapsuleId)
    <div class="form-group">
      @Html.LabelFor(model => model.ItemId, new { @class = "col-lg-2 control-label" })
      <div class="col-lg-10">
        @Html.DropDownListFor(model => model.ItemId, new SelectList(Model.AddeableItems.Select(p => new { p.CurrentItem.ItemId, Descripcion = p.CurrentItem.Description() }), "ItemId", "Descripcion"), new { @class = "form-control input-sm" })
      </div>
    </div>
    <div class="form-group">
      @Html.LabelFor(model => model.Quantity, new { @class = "col-lg-2 control-label" })
      <div class="col-lg-10">
        @Html.TextBoxFor(model => model.Quantity, new { @class = "form-control input-sm" })
      </div>
    </div>
    <div class="col-lg-10 col-lg-offset-2">
      <input type="submit" value="Save" class="btn btn-primary" />
    </div>
  </fieldset>
}
<p>
  @Html.ActionLink("Back to Capsules", "Index") | @Html.ActionLink("Back to View Capsule", "List", new { @id = Model.CapsuleId })
</p>