@model MiInventario.Models.Capsules.DeleteItemViewModel
@{
  ViewBag.Title = "Delete Item";
}

<h2>@ViewBag.Title</h2>
@Html.Partial("_CapsuleHeader", Model)

@using (Html.BeginForm("DeleteItem", "Capsules", FormMethod.Post)) {
  @Html.HiddenFor(model => model.CapsuleId)
  @Html.HiddenFor(model => model.Item.CurrentItem.ItemID)
  <p>
    @Html.Partial("_ItemDescription", Model.Item)
    <span>@Model.Quantity</span>
  </p>

  <fieldset>
    <div class="form-group">
      <div class="col-lg-12">
        <input type="submit" value="Confirm" class="btn btn-primary" />
        @Html.ActionLink("Cancel", "ManageItems", new { @id = Model.CapsuleId }, new { @class = "btn btn-default" })
      </div>
    </div>
  </fieldset>
}
