@model MiInventario.Models.Capsules.DeleteViewModel
@{
  ViewBag.Title = Model.IdCapsula;
}

<h2>Delete @Model.IdCapsula (@Model.Total)</h2>
@using (Html.BeginForm("Delete", "Capsules", FormMethod.Post, new { @class = "form-horizontal" })) {
  <fieldset>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        @Html.HiddenFor(model => model.IdCapsula)
        <input type="submit" value="Confirm" class="btn btn-primary" />
      </div>
    </div>
  </fieldset>
}
<p>
  @Html.ActionLink("Back to Capsules", "Index") | @Html.ActionLink("Back to View Capsule", "List", new { @id = Model.IdCapsula })
</p>
