@model MiInventario.Models.Capsules.ManageViewModel
@{
  ViewBag.Title = "Log Interest";
}

<h2>Log Interest</h2>
@if (string.IsNullOrEmpty(Model.Descripcion)) {
  <h3>@Model.IdCapsula (@Model.Total)</h3>
}
else {
  <h3>@Model.Descripcion [@Model.IdCapsula] (@Model.Total)</h3>
}
@if (@Model.Total > 100) {
  <p class="avisoCapsulaErronea">
    La cantidad total de la cápsula supera lo permitido
  </p>
}
@foreach (var item in ViewContext.ViewData.ModelState)
{
    if (item.Value.Errors.Any())
    {
        <div class="alert alert-dismissible alert-warning">
            <button type="button" class="close" data-dismiss="alert">×</button>
            @(string.Join("; ", item.Value.Errors.Select(x => x.ErrorMessage)))
        </div>
    }
}

@using (Html.BeginForm("LogInterests", "Capsules", FormMethod.Post, new { @class = "form-horizontal" })) {
  @Html.HiddenFor(model => model.IdCapsula)

  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12">
    <table class="table table-condensed table-striped">
      <colgroup>
        <col class="col-lg-9 col-md-9 col-sm-9 col-xs-9" />
        <col class="col-lg-3 col-md-3 col-sm-3 col-xs-3" />
      </colgroup>
      <thead>
        <tr>
          <th>Item</th>
          <th>Qty</th>
        </tr>
      </thead>
      <tbody>
        @for (int i = 0; i < Model.Items.Count; i++) {
          var item = Model.Items[i];
          <tr>
            <td class="nombre">
                @Html.Partial("_ItemDescription", item)
            </td>
            <td class="cantidadItem">
              @Html.HiddenFor(model => Model.Items[i].CurrentItem.ItemID)
              @Html.TextBoxFor(model => Model.Items[i].Cantidad, new { @class = "form-control text-right input-sm" })
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="clearfix"></div>
  <p>
    <input type="submit" value="Save" class="btn btn-primary" />
  </p>
}
<p>
  @Html.ActionLink("Back to Capsules", "Index") | @Html.ActionLink("Back to View Capsule", "List", new { @id = Model.IdCapsula })
</p>
